header {
  width: 100%;
  padding: 8px 0;
  font-size: 1.1em;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul {
    li {
      list-style: none;
      cursor: pointer;
    }
  }

  h1 {
    cursor: pointer;
  }
}
